.menu {
    font-family: 'Special Elite', cursive;
    font-size: xx-large;
    color: black;
    text-align: left;
    text-decoration: none;
}
h2 {
    padding-top: 50px;
    margin-left: 80px;
}
.header {
    font-family: 'Special Elite', cursive;
    font-size: 150%;
    margin-left: 30px;
    margin-top: 20px;
}
.container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: left;
    padding-top: 50px;
    font-family: 'Special Elite', cursive;
}
.categories {
    font-size: 300%;
    padding-top: 30px;
}
.recipes {
    font-size: 45%;
    margin-left: auto;
    line-height: 150%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}
@media (max-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        justify-items: left;
        padding-top: 50px;
        padding-left: 30px;
        font-family: 'Special Elite', cursive;
    }
    .recipes {
        font-size: 40%;
        margin-left: auto;
        line-height: 150%;
    }
    .categories {
        font-size: 250%;
        padding-top: 30px;
    }
}
.title {
    font-family: 'Special Elite', cursive;
    font-size: 400%;
    color: black;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
}
h3 {
    font-family: 'Special Elite', cursive;
    font-size: 175%;
    color: black;
    text-align: left;
    padding-top: 20px;
    margin-left: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(116, 115, 115);
}
h4{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 150%;
    margin-left: 30px;
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 125%;
    margin-left: 30px;
}
@media (max-width: 450px) {
    .title {
        font-family: 'Special Elite', cursive;
        font-size: 300%;
        color: black;
        text-align: center;
        padding-top: 50px;
        text-decoration: underline;
    }
    h3 {
        font-family: 'Special Elite', cursive;
        font-size: 125%;
        color: black;
        text-align: left;
        padding-top: 20px;
        margin-left: 30px;
        text-decoration: underline;
        text-decoration-color: rgb(116, 115, 115);
    }
    h4{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 115%;
        margin-left: 30px;
    }
    p {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 100%;
        margin-left: 30px;
    }
}
.about {
    margin-left: 100px;
    margin-right: 100px;
}
@media (max-width: 450px) {
    .about {
        margin-left: 20px;
        margin-right: 20px;
    }
}
